<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TrackingServiceEndpoint">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://devwebservices.purolator.com/EWS/V1/Tracking/TrackingService.asmx"
                binding="basicHttpBinding" bindingConfiguration="TrackingServiceEndpoint"
                contract="TrackingServiceContract" name="TrackingServiceEndpoint" />
        </client>
    </system.serviceModel>
</configuration>